body, div, li {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background: url("../images/circles-light.png") fixed;
    font-family: "Microsoft YaHei", "微软雅黑", "PingFang SC", "SimHei", "Hiragino Sans GB";
}

div, span {
    box-sizing: border-box;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: #666;
}

.header-outer {
    width: 100%;
    height: 50px;
    top: 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    z-index: 1000;
}

.panel {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
}

.clickable-panel:hover {
    background-color: rgba(180, 180, 180, 0.5);
}

.main-card {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}

.header-inner {
    max-width: 1060px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 50px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    text-align: center;
}

.menu-main {
    height: 100%;
    width: 200px;
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    flex-flow: row nowrap;
}

.menu-bar {
    /*height: 100%;*/
    /*width: 500px;*/
    display: flex;
    flex: 1 0 auto;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}

.menu-button-group {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
}

.menu-button {
    display: inline-flex;
    line-height: 100%;
    align-items: center;
    /*border-bottom: solid rgba(0, 0, 0, 0) 2px;*/
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
}

.menu-button a, .menu-button a:visited {
    color: #666;
    text-decoration: none;
    height: 100%;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.menu-button a:hover {
    color: #555;
    /*font-weight: bold;*/
}

.menu-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.menu-button-activate a {
    border-bottom: solid orange 2px;
    font-weight: bold;
}

.footer-outer {
    width: 100%;
    height: 50px;
    top: 100px;
    position: relative;
}

.footer-inner {
    width: 1060px;
    height: 100%;
    color: #888;
    font-size: 12px;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-inner a, .footer-inner a:hover, .footer-inner a:visited {
    color: #888;
    text-decoration: underline;
}

.wrapper {
    position: relative;
    width: 1060px;
    min-height: 800px;
    margin-left: auto;
    margin-right: auto;
    top: 70px;
    height: auto;
}

.content {
    /*float: left;*/
    width: 740px;
    height: auto;
    /*border: solid black 1px;*/
    min-height: 300px;
    padding-left: 10px;
    padding-right: 10px;
}

.user-panel-outer {
    position: fixed;
    top: 70px;
    left: 50%;
    margin-left: 220px;
    height: 300px;
    width: 300px;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    /*-webkit-backdrop-filter: blur(5px);*/
    border-radius: 15px;
}

.user-panel-inner {
    margin-left: 20px;
    margin-right: 20px;
}

.user-profile {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.user-avatar-outer {
    display: block;
    width: 150px;
    height: 150px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.user-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.user-name, .when-guest {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

.user-name {
    margin-bottom: 20px;
}

.bottom-button {
    position: fixed;
    left: 50%;
    width: 60px;
    height: 60px;
    bottom: 15px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    transition: background-color 0.3s;
}

.bottom-button:hover {
    background-color: rgba(240, 240, 240, 0.5);
}

.bottom-button a {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.bottom-button a i {
    margin: 0 auto;
    color: #DDD;
}

.reload-page {
    margin-left: 220px;
}

.go-to-top {
    margin-left: 295px;
}

.new-post {
    margin-left: 370px;
}

.dash {
    position: relative;
    margin: 0;
    height: 1px;
    background-color: #AAA;
}

.get-more-content-outer {
    text-align: center;
    border-radius: 15px;
    /*padding: 15px;*/
    overflow: hidden;
}

.get-more-content-link {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.posts {
    margin: 0;
    padding: 0;
}

.post-outer {
    border-radius: 15px;
    overflow: hidden;
    padding: 15px;
    margin-bottom: 15px;
}

.post-title {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.post-title-link {
    width: 100%;
    display: block;
    overflow: hidden;
}

.post-content {
    color: #333;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 5em;
}

.post-content-link {
    width: 100%;
    height: 100%;
    display: block;
    word-break: normal;
    overflow: hidden;
}

.post-footer {
    font-size: 0.7em;
    color: #AAA;
}